# GMAIL SPAM DETECTION WITH NATURAL LANGUAGE PROCESSING

Name:- Narmada Haribhau Ugale
Degree:- Computer Science and Engineering
College Name:- Shri Guru Gobind Singhji Institute Of Engineering & Technology Nanded

# IMPORTING SOME REQUIRED LIBRARY

In [1]:
import pandas as pd
import numpy as np
import nltk
import nltk

# Reading csv file using pandas library

In [2]:
df=pd.read_csv(r"C:\Users\Sadanand\Desktop\Downloads\SPAM.csv",encoding= 'unicode_escape')
df.head(5)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.shape

(116, 2)

In [4]:
df.isnull().sum()

type    0
text    0
dtype: int64

In [5]:
df['spam'] = pd.get_dummies(df.type, drop_first=True)

In [6]:
df

     type                                               text  spam
0     ham  Go until jurong point, crazy.. Available only ...     0
1     ham                      Ok lar... Joking wif u oni...     0
2    spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3     ham  U dun say so early hor... U c already then say...     0
4     ham  Nah I don't think he goes to usf, he lives aro...     0
..    ...                                                ...   ...
111   ham           What is the plural of the noun research?     0
112   ham                    Going for dinner.msg you after.     0
113   ham  I'm ok wif it cos i like 2 try new things. But...     0
114  spam  GENT! We are trying to contact you. Last weeke...     1
115   ham                    Wa, ur openin sentence very for     0

[116 rows x 3 columns]

# DATA PREPROCESSING

# 1)TOKENIZATION

In [8]:
df['text'][5]#before

"FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, Â£1.50 to rcv"

In [9]:
def tokenizer(text):
    return text.split()

df['text']=df['text'].apply(tokenizer)

df['text'][5]#after

['FreeMsg',
 'Hey',
 'there',
 'darling',
 "it's",
 'been',
 '3',
 "week's",
 'now',
 'and',
 'no',
 'word',
 'back!',
 "I'd",
 'like',
 'some',
 'fun',
 'you',
 'up',
 'for',
 'it',
 'still?',
 'Tb',
 'ok!',
 'XxX',
 'std',
 'chgs',
 'to',
 'send,',
 'Â£1.50',
 'to',
 'rcv']

# 2)STEMMING

In [11]:
df['text'][5]#before

['FreeMsg',
 'Hey',
 'there',
 'darling',
 "it's",
 'been',
 '3',
 "week's",
 'now',
 'and',
 'no',
 'word',
 'back!',
 "I'd",
 'like',
 'some',
 'fun',
 'you',
 'up',
 'for',
 'it',
 'still?',
 'Tb',
 'ok!',
 'XxX',
 'std',
 'chgs',
 'to',
 'send,',
 'Â£1.50',
 'to',
 'rcv']

In [12]:
from nltk.stem.snowball import SnowballStemmer
sbs = SnowballStemmer("english",ignore_stopwords=False)

def stem_it(text):
    return [sbs.stem(word) for word in text]

df['text'] =df['text'].apply(stem_it)


df['text'][5]#after stemming

['freemsg',
 'hey',
 'there',
 'darl',
 'it',
 'been',
 '3',
 'week',
 'now',
 'and',
 'no',
 'word',
 'back!',
 "i'd",
 'like',
 'some',
 'fun',
 'you',
 'up',
 'for',
 'it',
 'still?',
 'tb',
 'ok!',
 'xxx',
 'std',
 'chgs',
 'to',
 'send,',
 'â£1.50',
 'to',
 'rcv']

# 3)LEMMITIZATION

In [13]:
df['text'][90]#before

['yeah',
 'do!',
 'donâ\x80\x98t',
 'stand',
 'to',
 'close',
 'tho-',
 'youâ\x80\x98ll',
 'catch',
 'something!']

In [14]:
from nltk.stem import WordNetLemmatizer
lemma =  WordNetLemmatizer()

def lemmit_it(text):
    return [lemma.lemmatize(word,pos="a") for word in text]

df['text']=df['text'].apply(lemmit_it)

df['text'][90]#before

['yeah',
 'do!',
 'donâ\x80\x98t',
 'stand',
 'to',
 'close',
 'tho-',
 'youâ\x80\x98ll',
 'catch',
 'something!']

# 4) STOP WORD REMOVAL

In [15]:
df['text'][100]#before

['pleas',
 "don't",
 'text',
 'me',
 'anymore.',
 'i',
 'have',
 'noth',
 'els',
 'to',
 'say.']

In [16]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

def stop_it(text):
    review = [word for word in text if not word in stop_words]
    return review
df['text']=df['text'].apply(stop_it)

df['text'][100]#before

['pleas', 'text', 'anymore.', 'noth', 'els', 'say.']

In [17]:
df.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [18]:

from sklearn.feature_extraction.text import TfidfVectorizer
def dummy_fun(doc):
    return doc
TFV=TfidfVectorizer(analyzer='word',tokenizer=dummy_fun,preprocessor=dummy_fun,token_pattern=None)
y=df.spam.values
x=TFV.fit_transform(df['text'])

In [19]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_text = train_test_split(x,y,random_state=1,test_size=0.3)

# classification using logistic regression

In [20]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train,y_train)
y_pred = LR.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred,y_text)*100
print("accuracy",acc_log)

accuracy 74.28571428571429

In [22]:
# # classification using LinearSVC 
from sklearn.svm import LinearSVC
svc = LinearSVC(random_state=0) 
svc.fit(x_train,y_train)
y_pred =svc.predict(x_test)

In [23]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred,y_text)*100
print("accuracy",acc_log)

accuracy 74.28571428571429